.future {
  background-color: var(--background);
  padding: 3rem;
}

.titleFuture, .subtitle-future {
  text-align: center;
}

.titleFuture {
  margin: 0;
}

.subtitle-future {
  margin-top: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem 3rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
  margin: 1rem 3rem;
}

@media (min-width: 480px) {
  .cards {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }

}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(6, 1fr);
    padding: 1rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: #EAE0D5;
  border-radius: 8px;
  padding: 3rem;
}

.card:hover {
    background-color: #cabcac;
}

.card-text {
  text-align: center;
  margin: 0;
}
