.section-contact {
  margin: 5rem 3rem;
}

.titleContact {
  text-align: center;
}

.data {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 3rem;
  gap: 1.5rem;
}

@media (min-width: 768px) {
  .section-contact {
      margin: 5rem 10rem;
    }
  .data {
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      margin-bottom: 5rem;
    }
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
  }

}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  width: 100%;
}

.inputs {
  width: 100%;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 2rem;
}
