<section class="hero">
  <div class="content">
    <h1 class="title">{{translate.translate('title')}}</h1>
    <h5 class="slogan">{{translate.translate('slogan')}}</h5>
    <p class="description">
      {{translate.translate('textHero')}}
    </p>
    <div class="buttons">
      <a  href="{{translate.linkDonate}}" target="_blank" rel="noopener noreferrer">
        <button class="btn btn-secondary">{{translate.translate('donateBtn')}}</button>
      </a>
      <p class="or">|</p>
      <a href="#contact">
        <button class="btn btn-secondary-outline">{{translate.translate('contactBtn')}}</button>
      </a>
    </div>
  </div>
  <div class="hero__img-container">
    <img class="hero__image" src="/img/hero.png" alt="hero image">
  </div>
</section>
