.header {
  background-color: var(--background);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 1rem 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.hamburger {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
  display: none;
  /* Solo visible en m贸viles */
}

.hamburger img {
  width: 36px;
  height: 36px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
}

.navigation__link {
  text-decoration: none;
  color: #000;
}

.navigation__link:hover {
  text-decoration: underline;
}

/* Estilos responsive */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    /*  Asegura que se muestre el bot贸n en m贸vil */
  }

  .navigation {
    display: none;
    /* oculto por defecto en m贸viles */
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #2e2e2e;
    width: 100%;
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .navigation__link {
    color: white;
  }

  .navigation.navigation--open {
    display: flex;
  }

  .btn.btn-primary {
    display: none;
    /* Oculta bot贸n de contacto en m贸viles si quieres */
  }
}
/*
.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4.4rem;
} */

/* FOOTER */

.background-footer {
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.1) 4px 0px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.navigation-footer,
.social-links,
.nav-privacy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__logo {
  align-self: center;
}

.privacy, .nav, .social {
  font-weight: 600;
  text-align: center;
}

@media (min-width: 768px) {
  .background-footer {
    display: block;
    padding: 0;
  }
  .footer {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 2.5rem;

    }
  .navigation-footer,
  .social-links,
  .nav-privacy {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .privacy,
  .nav,
  .social {
    text-align: start;
  }

}
