.first-card {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.second-card {
  display: flex;
  flex-direction: column-reverse;
  margin: 3rem;
}
.titlePrototype {
  margin: 3rem;
  text-align: center;
}

.final {
  margin: 1rem 5rem 1rem 3rem;
}


@media (min-width: 992px) {

  .titlePrototype {
      margin: 5rem 10rem;
  }

  .first-card {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 5rem;
  }

  .second-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 5rem;
  }
  .final {
    margin-left: 5rem;
  }

  .img1 {
    z-index: 0;
  }

  .img2 {
    margin-top: -20rem;
    z-index: 1;
  }
}






.info1 {
  line-height: 4rem;
  margin-right: 9rem;
}

.info2 {
  line-height: 4rem;
}
