<main class="main">
  <h2 class="titlePrototype">{{translate.translate('titlePrototype')}}</h2>
  <div class="first-card">
    <img src="/img/car4.png" alt="front car" class="img1">
    <div class="content">
      <h3 class="subtitle">{{translate.translate('how')}}</h3>
      <p class="info1">{{translate.translate('infoPlan1')}}</p>
    </div>
  </div>
  <div class="second-card">
    <p class="info2">{{translate.translate('infoPlan2')}}</p>
    <img class="img2" src="/img/car2.png" alt="car back">
  </div>
  <p class="info3">{{translate.translate('final')}}</p>
</main>
