.first-card {
  display: flex;
  flex-direction: column;
  margin: 3rem;
}

.second-card {
  display: flex;
  flex-direction: column-reverse;
  margin: 3rem;
}
.titlePrototype {
  margin: 3rem;
  text-align: center;
  font-size: 3rem;
}

.subtitle {
  font-size: 2.5rem;
  text-align: center;
}

.info3 {
  text-align: center;
  margin: 3rem;
}

.info1 {
  line-height: 4rem;
  text-align: center;
}

.info2 {
  line-height: 4rem;
  text-align: center;
}

@media (min-width: 768px) {
  .info1 {
      margin-right: 9rem;
      text-align: start;
  }
  .info2 {
    text-align: start;
  }
  .info3 {
      margin: 1rem 5rem 1rem 3rem;
      text-align: start;
  }
  .titlePrototype {
    font-size: 3rem;
  }
  .subtitle {
    text-align: start;
    font-size: 2.2rem;
  }
}

@media (min-width: 992px) {

  .titlePrototype {
      margin: 5rem 10rem;
  }

  .first-card {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3rem;
    margin: 2rem 5rem;
  }

  .second-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 2rem 5rem;
  }
  .info3 {
    margin-left: 5rem;
  }

  .img1 {
    z-index: 0;
  }

  .img2 {
    margin-top: -20rem;
    z-index: 1;
  }
}
