<div class="info">
  <p class="location">
    <img class="icon-location" src="/icons/location.svg" alt="">
    Madrid, {{ translate.translate('country') }}.
  </p>
  <p class="donate">
   {{ translate.translate('help') }}
    <a target="_blank" rel="noopener noreferrer" class="donate-link" href="{{translate.linkDonate}}">{{ translate.translate('donate') }}</a>
  </p>
  <div class="language">
    <div (click)="switchLang('en')" class="en">
      <img src="/icons/english.png" alt="english">
      <p class="en-p"
        [ngClass]="translate.getLanguage() === 'en' ? 'active-language' : 'inactive-language'">
     English
    </p>
    </div>
    <p>|</p>
    <div (click)="switchLang('es')" class="es">
      <p class="es-p"
     [ngClass]="translate.getLanguage() === 'es' ? 'active-language' : 'inactive-language'">
        Español
      </p>
      <img src="/icons/spain.png" alt="spanish">
    </div>
  </div>
</div>


<!--MEGAIMPORTANTE ESTO-->
<!--
    {{ translate.translate('city') }}
-->


