.collaborate {
  background-color: var(--primary-900);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem;
}

.card {
  background-color: var(--white);
  display: inline-block;
  padding: 5rem;
  border-radius: 1rem;
}

.titleCollaborate, .textCollaborate {
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;
}

.input-email {
  text-align: center;
  padding: 1rem;
  font-size: 1.6rem;
  border-radius: 8px;
  border: 1px solid rgba(207, 207, 207, 0.856);
}
